.input-error {
  border-color: #fda293 !important;
}

.input-number-container {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05) !important;
  grid-template-columns: 1fr 19px !important;
  grid-template-rows: 1fr 1fr !important;
  @apply font-normal rounded text-black bg-white grid overflow-hidden h-8 px-2 py-1 #{!important};
}
