.MuiPickersCalendarHeader-root {
  font-weight: bold;
  font-size: 1.2rem;
}

.MuiPickersMonth-root {
  width: 25%;
  text-align: center;
  margin: 4px 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.MuiPickersMonth-root:hover {
  background-color: #f0f0f0;
}

.MuiPickersMonth-root.Mui-selected {
  background-color: #2f9ab4;
  color: #fff;
}
