// .mainLayout {
//   display: flex;
//   flex-direction: column;
//   // min-height: 100vh;
//   // height: 50vh;
// }

// .mainContent {
//   display: flex;
//   gap: 2.5rem;
//   flex: 1;
//   overflow: auto;
//   // flex-direction: row;
//   // height: "100%";
// }

// .sidebarContainer {
//   // max-width: "200px";
//   // min-width: "100px";
//   height: "100%";
//   // width: "50%";
//   overflow: auto;
//   // position: fixed; // để cố định nếu muốn
//   // position: static;
// }
.mainLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.contentContainer {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.contentContainer {
  margin-left: 0;
  flex: 1;
  // margin-left: 200px;
  // padding: 1rem;
}
