.checkbox-icon {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.unchecked {
    border: 1px solid #ccc;
  }

  &.checked {
    &.primary {
      background-color: #2196f3;
      border: 1px solid #2196f3;
    }

    &.secondary {
      background-color: #9c27b0;
      border: 1px solid #9c27b0;
    }

    svg {
      width: 12px;
      height: 12px;
      color: #fff;
    }
  }

  &.indeterminate {
    &.primary {
      background-color: #90caf9;
      border: 1px solid #2196f3;
    }

    &.secondary {
      background-color: #ce93d8;
      border: 1px solid #9c27b0;
    }

    span {
      width: 12px;
      height: 2px;
      background-color: #fff;
    }
  }
}
