// .modal {
// }
.container-content-modal {
  z-index: 1300;
  font-family: "Inter", sans-serif;

  .paper-container {
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;

    &.p-0 {
      padding: 0;
    }

    &.overflow-position {
      overflow: visible;
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 16px 20px;
      border-bottom: 1px solid #e0e0e0;

      .title {
        max-width: 90%;
        overflow: hidden;

        .text {
          padding: 0;
          margin: 0;
          font-size: 1rem;
          font-weight: 600;
          color: #333;

          .overflow-hidden {
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;

            p {
              margin: 0;
              font-size: 11px;
              color: #888;
              //   line-height: 1.2;
            }
          }
        }
      }

      .icon-close {
        color: #666;
        font-size: 1.2rem;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #000;
          transform: rotate(90deg);
        }
      }
    }
    .content-dialog {
      padding: 50px;
      display: flex;
      flex: 2;
      //   justify-content: flex-end;
      //   align-items: center;
    }
    .modal-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 15px 25px;
      //   padding: 16px 20px;
      border-top: 1px solid #e0e0e0;
      gap: 12px;

      button + button {
        margin-left: 8px;
      }
    }

    .content-modal-container {
      padding: 16px 20px;
    }
  }
}
