.css-mk73dd-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 2px !important;
}
.css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root {
  max-height: 100%;
  height: 34px !important;
}
.css-cmpglg-MuiFormControl-root-MuiTextField-root {
  width: 40%;
}
.MuiFormControl-root .MuiInputBase-root.Mui-disabled {
  width: 68px !important;
  margin-bottom: 1% !important;
  background-color: #ffffff !important;
}
.word {
  &.MuiFormControl-root .MuiInputBase-root .MuiInputBase-input {
    font-weight: bold !important;
    color: #000000 !important;
    opacity: 1 !important;
  }
}
.input {
  &.MuiFormControl-root .MuiInputBase-root {
    background-color: rgb(224, 224, 224) !important;
  }
}

.css-1n04w30-MuiInputBase-root-MuiOutlinedInput-root {
max-height: 35px !important;
}
.css-1tlcqt-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
    padding: unset !important;
}
.word {
  &.MuiFormControl-root .MuiInputBase-root{
  background-color: rgb(224, 224, 224) !important;
  }
  &.MuiFormControl-root .MuiInputBase-root {
    border: 1px solid rgb(224, 224, 224) !important;
  }
  &.MuiFormControl-root .MuiInputBase-root.Mui-disabled {
    width: 155px !important;
  }
}
.text{
  width: 30%;
}
.css-d5rhbo{
  gap: 35px !important;
}
.css-1blp12k-MuiInputBase-root-MuiOutlinedInput-root{
  margin-right: auto;
}
.css-1tlcqt-MuiAutocomplete-root {
  width: 30%;
}
.css-zd3p4e-MuiAutocomplete-root .MuiAutocomplete-inputRoot .MuiAutocomplete-input {
  height: 10px !important;
}
.css-mk73dd-MuiAutocomplete-root .MuiAutocomplete-inputRoot .MuiAutocomplete-input {
  height: 10px !important
}
.css-mk73dd-MuiAutocomplete-root .MuiAutocomplete-inputRoot .MuiAutocomplete-input{
  height: 10px !important
}
.css-23p7sp-MuiAutocomplete-root .MuiAutocomplete-inputRoot .MuiAutocomplete-input{
  height: 10px !important
}